.hidden-letter{
    display: inline-block;
    border-bottom: 5px solid black;
    width: 40px;
    height: 40px;
    margin: 2px;
    vertical-align: top;
}

.word-delim{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
}

.letters-places{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}

.letters-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2%;
}

.letter-btn{
    margin: 0.2%;
}

.letter-btn.disabled{
    color: #7D1A24;
    background-color: #96666A;
}

.alphabet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.word{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.space{
    width: 40px;
    height: 40px;
}

.word-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}