.text-input{
    font-family: ahsFont;
    border: #af111c 5px solid;
    border-radius: 5px;
    font-size: 1.2em;
    margin: 1%;
}

.word-input{
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
}

.word-form{
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
}