@font-face {
  font-family: ahsFont;
  src: url('/fonts/v_CCForkedTongue.ttf');
}

html {
  height: 98vh;
  width: 98vw;
}

body {
  margin: auto;
  padding: 0;
  font-family: ahsFont, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
  height: 98vh;
  width: 80vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header{
  font-size: 2em;
}

/*.start-btn, .exit-btn, .submit-btn*/
button{
  display: block;
  font-family: ahsFont;
  border: #af111c 5px solid;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  flex-grow: 0;
  margin: 1%;
  background-color: white;
}

button:hover{
  background-color: #8E000A;
}

button:focus {
  outline:0;
}
